@font-face {
    font-family: "Mulish";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(Mulish/Mulish-Light.woff2) format('woff2');
}
@font-face {
    font-family: "Mulish";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(Mulish/Mulish-Regular.woff2) format('woff2');
}
@font-face {
    font-family: "Mulish";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(Mulish/Mulish-Bold.woff2) format('woff2');
}
@font-face {
    font-family: "Mulish";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(Mulish/Mulish-SemiBold.woff2) format('woff2');
}

*{
    box-sizing: border-box;
}

body {
    font-family: "Mulish", Arial, sans-serif;
    color: #7D7987;
    background-color: #72f7e8;
}

.button {
    font-weight: 700;
    font-size: 18px;
    line-height: 3.33;
    text-align: center;
    margin-top: 72px;
}

.button a {    
    color: #458FF6;
    text-decoration: none;
    padding: 3px 51px 1px;
    border: 1px solid #458FF6;
    border-radius: 55px;
    box-sizing: border-box;
}